In [1]:
# 1. CREATE THREE VARIABLE(a,b,c) TO sAME VALUE OF ANY INTEGER AND DO THE FOLLOWING
#a) Divide a by 10
#b) Multiply b by 50
#c) Add c value by 60

a=b=c=500
print("Value of a=",a,"b=",b,"c=",c)
print("Divide a by 10:",a/10)
print("Multiply b by 50:",b/50)
print("Add c value by 60:",c+60)

Value of a= 500 b= 500 c= 500
Divide a by 10: 50.0
Multiply b by 50: 10.0
Add c value by 60: 560

In [2]:
# 2. CREATE A STRING VARIABLE 0F 5 CHARACTER AND REPLACE THE 3RD CHARACTER WITH 'G'

string_var="pqrst"
print(string_var)
print("after replacing, string is:",string_var.replace("r","G"))

pqrst
after replacing, string is: pqGst

In [3]:
print(string_var)
print("after replacing 3rd character, string is:",string_var[:2]+'G'+string_var[3:])

pqrst
after replacing 3rd character, string is: pqGst

In [4]:
# 3. CREATE TWO VALUES (A,B)OF INT, FLOAT DATA TYPE & CONVERT THE VISE VERSA.
#HINT CONVERT A FROM INT TO FLOAT DATATYPE & B FROM FLOAT TO INT DATATYPE

a=60
b=98.6
print("a=",a,"b=",b)
print("a data type", type (a),"b data type", type (b))
print("After converting a to float, a =",float(a))
print("After converting b to int, b =",int(b))

a= 60 b= 98.6
a data type <class 'int'> b data type <class 'float'>
After converting a to float, a = 60.0
After converting b to int, b = 98